<mat-toolbar color="primary" class="toolbar">
  <h1 class="page-title">Connexion</h1>
</mat-toolbar>

<mat-card class="login-card">
  <mat-card-header>
    <mat-icon color="primary" aria-hidden="true">lock</mat-icon>
    <mat-card-title>Connexion - </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formulaire" (ngSubmit)="onConnexion()" class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="formulaire.get('email')?.hasError('required')">
          L'email est obligatoire
        </mat-error>
        <mat-error *ngIf="formulaire.get('email')?.hasError('email')">
          Le format de l'email est incorrect
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="formulaire.get('password')?.hasError('required')">
          Le mot de passe est obligatoire
        </mat-error>
      </mat-form-field>

      <mat-divider></mat-divider>

      <!-- Display error message if exists -->
      <div *ngIf="errorMessage" class="error-message">
        <mat-error>{{ errorMessage }}</mat-error>
      </div>

      <div class="login-actions">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>login</mat-icon> Se connecter
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
