<h1>Connexion</h1>

<form [formGroup]="formulaire" (ngSubmit)="onConnexion()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    @if (formulaire.get("email")?.hasError("email")) {
      <mat-error>Le format de l'email est incorrect</mat-error>
    } @else {
      <mat-error>L'email est obligatoire</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error>Le mot de passe est obligatoire</mat-error>
  </mat-form-field>

  <button mat-raised-button>
    <mat-icon>login</mat-icon>
    Se connecter
  </button>
</form>
